.container{
 position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .nav{
    position: fixed;
    top: 0;
    transform: translateX(-100%);


    

    
  }
  .active{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 70%;
    height: 100vh;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    gap: 2rem;
    z-index: 999;
    padding-top: 1rem;
    transition: transform .6s .2s;
  }

  

}